@import "*";
@import "bootstrap";
@import "font-awesome";
@import "animate";

.fade-out {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}
.margin-top {
  margin-top: 1em;
}
.tag-cloud {
  display: inline-block;
}
.btn-margin  {
  margin: 5px;
}
.task-link {
  color: white;
}
