/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= bootstrap-tagsinput.css
 */
@import "*";
@import "bootstrap";
@import "font-awesome";
@import "animate";
@import "devise_bootstrap_views";

.fade-out {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}
.margin-top {
  margin-top: 1em;
}
.tag-cloud {
  display: inline-block;
}
.btn-margin  {
  margin: 5px;
}
.task-link {
  color: white;
}
.label-info {
    background-color: #5bc0de;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
table.table-wide{ width:100%; }
table.table-wide tr td{ width:25%; }
.table-centered th, .table-centered td, .table-centered thead th {
    text-align: center;
}
